<h2>Detalle del país</h2>
<hr />

<div *ngIf="!pais; else cardPais" class="alert alert-info">
  Cargando, por favor Espere...
</div>

<ng-template #cardPais>
  <div class="card-personalizada">
    <div class="card-encabezado">
      <div class="titulo">
        <h2>{{ pais.name.common }}</h2>
        <p>{{ pais.continents[0] }}</p>
      </div>

      <div class="imagenes">
        <img class="logo-bandera" [src]="pais.flags.png" alt="bandera" />
        <img class="logo-escudo" [src]="pais.coatOfArms.png" alt="escudo" />
      </div>
    </div>

    <div class="descripcion">
      <ul>
        <li><strong>Capital: </strong>{{ pais.capital[0] }}</li>
        <li><strong>Población: </strong>{{ pais.population | number }}</li>
        <li><strong>Fifa: </strong>{{ pais.fifa }}</li>
        <li>
          <strong>Google Maps: </strong>
          <a href="{{ pais.maps.googleMaps }}" target="_blank"
            >Click para navegar</a
          >
        </li>
      </ul>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum optio
        veniam voluptate facilis ipsa aliquam inventore, labore ducimus nihil id
        repellendus dolore architecto voluptatibus consectetur. Cum,
        voluptatibus. Libero ipsam in modi eligendi quis odit nisi quas. Error,
        magni. Incidunt debitis doloremque voluptatibus. Quo deserunt assumenda
        cumque corporis ut, quae libero.
      </p>

      <h3>Traduciones</h3>
      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.spa.common }}
      </span>
      <span class="badge rounded-pill bg-dark">
        {{ pais.translations.ara.common }}
      </span>
      <span class="badge rounded-pill bg-dark">
        {{ pais.translations.ces.common }}
      </span>
      <span class="badge rounded-pill bg-dark">
        {{ pais.translations.deu.common }}
      </span>
      <span class="badge rounded-pill bg-dark">
        {{ pais.translations.ara.common }}
      </span>
      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.por.common }}
      </span>
      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.jpn.common }}
      </span>
      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.kor.common }}
      </span>
      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.nld.common }}
      </span>

      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.per.common }}
      </span>
      <span class="badge rounded-pill bg-dark"
        >{{ pais.translations.zho.common }}
      </span>
    </div>
  </div>
</ng-template>
